<html>
  <head>
  </head>
  <body>
    <h1>Contactez-nous !</h1>
    <div class="d-flex flex-wrap justify-content-center my-5">
      <img class="img-fluid"  src="https://media.tenor.com/images/d48ff58b798b29839276e50604bbb71d/tenor.gif" alt="Contact gif">
    </div>
  </body>
</html>